<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d4d3c199-653e-4a36-8deb-60b19657d4f2/resourcegroups/BookService20210215104507ResourceGroup/providers/Microsoft.Web/sites/SalesService20210216125400</ResourceId>
    <ResourceGroup>BookService20210215104507ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://salesservice20210216125400.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>salesservice20210216125400.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SalesService20210216125400</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SalesService20210216125400</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SalesServiceContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:salesservice20210216122050dbserver.database.windows.net,1433;Initial Catalog=SalesService20210216125400_db;User ID=Franco@salesservice20210216122050dbserver;Password=11051986pF9@" Name="Data Source=tcp:salesservice20210216122050dbserver.database.windows.net,1433;Initial Catalog=SalesService20210216125400_db;User Id=Franco@salesservice20210216122050dbserver;Password=11051986pF9@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SalesService.Models.SalesServiceContext, SalesService" MigrationConfiguration="SalesService.Migrations.Configuration, SalesService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SalesServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:salesservice20210216122050dbserver.database.windows.net,1433;Initial Catalog=SalesService20210216125400_db;User Id=Franco@salesservice20210216122050dbserver;Password=11051986pF9@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>